---
export const prerender = false;
import Layout from "../layouts/Layout.astro";

if (Astro.request.method === "POST") {
    try {
        const data = await Astro.request.formData();
        const email = data.get("email");
        const password = data.get("password");
    } catch (error) {
        console.error(error);
    }
}



---

 <Layout>
<form action="method"="POST">
    <label for="email">E-mail <input type="email" id="email" name="email" required></label>
    <label for="password">Password <input type="password" id="password" name="password" required></label>
    <button type="submit">Submit</button>

</form>
</Layout>